import os

PROJECT_NAME = "{{ project_name }}"


def rm_file(path):
    os.remove(path)


def clean_after_generation():
    rm_file(__file__)


if __name__ == "__main__":
    # add your tasks here

    clean_after_generation()

    print(f"Project '{PROJECT_NAME}' successfully generated!")
    print("Run `make` to show the available actions.")
